body {
  padding-left: 15px; }

h1 a {
  font-family: 'Lobster';
  color: white; }

.page-header {
  background-color: #ff9400;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
  text-align: center; }
  .page-header .row {
    text-decoration: none; }
  .page-header h1, .page-header h2 a {
    color: #ffffff;
    font-size: 36pt; }

.post {
  margin-bottom: 70px;
  margin: 0 auto;
  display: block; }
  .post h2 a {
    color: black;
    font-family: 'Lobster'; }

.date {
  color: #828282; }
